.titre-plage {
    font-size: large;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: rgb(1, 144, 236);
}

.contenair-principal {
    background-image: url("C:/Users/rittl/Bureau/PLATEFORME/ville-marseille/images-plages/bg-texte.jpg");
    background-size: cover; /* Ajuste la taille de l'image pour couvrir tout l'arrière-plan */
    background-position: center;
    background-color: rgba(136, 193, 208, 0.5); /* 0.3 correspond à l'opacité avec l'alpha (de 0 à 1) */
    

}

.contenair-plage {

    display: flex;
    align-items: center;
    margin-top: 50px;
    padding: 30px;
}

.principal-plage {
    max-width: 50%;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgb(1, 144, 236);

}

.principal-plage img {
    border-radius: 10px;
}

.paragraphe-plage {

    flex: 1;
    text-align: center;
    margin-left: 20px;
}


.contenair-plage-photo {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 40px;
    align-items: center;
}

.photo-plage {
    transition: transform 3s;
    border-radius: 10px;
    width: 400px;
    height: auto;
    box-shadow: 2px 2px 8px rgb(1, 144, 236);
}

.photo-plage:hover {
    transform: scale(1.4);
}

@media screen and (max-width: 800px) {
   .placement-texteplage  { 
        font-size: small;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .photo-plage   {
        width: 130px;
        height: auto;
        transition: transform 3s;
    }

    .contenair-plage-photo {
        margin: 2px;
        padding: 3px;
        display: flex;
       justify-content: space-around;
    }

}

@media screen and (min-width:801px) and (max-width: 1500px) {
    .placement-texteplage  { 
         font-size: small;
         display: flex;
         flex-direction: column;
         justify-content: center;
     }
 
     .photo-plage   {
         width: 230px;
         height: auto;
         transition: transform 3s;
     }
 
     .contenair-plage-photo {
         margin: 2px;
         padding: auto;
         display: flex;
        justify-content: space-around;
     }
 
 }