.presentation-calanques {
    position: relative;
    border: solid;
    margin-top: 5%;
    
}

.image-presentation img {
    width: 100%;
}

.titre-calanque {
    position: absolute;
    text-align: center;
    width: 15%;
    top: 10%;
    left: 10%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.7); /* Fond semi-transparent pour la lisibilité */
    padding: 5px;
    margin-left:20px;
    border-radius: 10px;
}

.texte-sormiou {
    position: absolute;
    text-align: center;
    width: 20%;
    top: 60%;
    left: 70%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.7); /* Fond semi-transparent pour la lisibilité */
    padding: 30px;
    margin-left:20px;
    border-radius: 10px;

}

.acces-sormiou {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    
}

iframe {
    height: 350px; 
    width: 400px; 
   margin: 15px;
}

.texte-acces {
    padding: 20px;
}