
/* Header */

@font-face {
    font-family: delight;
    src: url(../typo/Fruits\ Delight.otf) format(TrueType);
}

html,body {
    margin: 0; 
    background-color: rgb(235, 230, 230);
    font-family: delight;
    color: rgb(19, 19, 19);
}


header {
    position: relative;
}



.menu { 
    list-style-type: none;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0;
    
}

.menu li { 
    display: inline-block;
    
}

.menu a { 
    background-color:rgb(1, 144, 236) ;
    color:white ;
    display: block;
    text-decoration: none;
    font-size: large;
    justify-content: center; 
    margin-left: 50px;  
     
}

#taille-menu {
    width: 100px;
    width: 100px;
    text-align: center;
    PADDING: 10px;
    border: 1px solid;
    border-radius: 10px;
     

}
.menu a:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.submenu {
    display: none;
    position: absolute;
    list-style-type: none;
    margin-left: -50px;
    
}

.submenu li {
    display: block;
}

.submenu li a { 
    padding: 10px;
    border:1px solid;
    display: block;
    border-radius: 10px;
}

.menu li:hover .submenu {
    display: block;
    opacity: 80%;
}




.effet {
    width: 100%; /* Fait en sorte que l'image occupe toute la largeur */
    height: auto; /* Pour conserver les proportions de l'image */
}

.overlay {
    position: absolute;
    top: 15%;
    left: 48%;
    transform: translate(-50%, -50%);
    width: 200px;
    z-index: 1; /* Place le logo au-dessus de l'image */
}

li .overlay1{ 
    display:flex ;
    justify-content: center;
    text-align: center;
    width: 100px;
    margin-left: 50px;
}
.overlay1 {
    position: absolute;
    top: 10%;
    left: 150px;
    transform: translate(-50%, -50%);
    width: 200px;
    z-index: 1; /* Place le logo au-dessus de l'image */   
}

.icone-taille {
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: row;
}


#titre-marseille { 
   
    display: block;
    align-items: center;
    margin: auto;
    

}


/* footer */

footer{
    
    
    background: rgb(1, 144, 236);
    height: auto;
    width: 100%;
    padding-top: 10px;
    color: #fff;
    margin-top: 20px;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#titre-footer {
    font-size: x-large;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
#p-footer {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: small;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    
    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}


