@font-face {
    font-family: 'open sans';
    src: url(OpenSans-VariableFont_wdth\,wght.ttf);
}

.parties {
    padding: 1%;
    height: auto;
    text-align: center;
    margin: 0 5%;
    background-color: rgba(194, 194, 209, 0.619);
    border-radius: 15px;
    background-size: contain;
}

.images-musées {
    width: 100%;
    height: auto;
    position: relative;
    transition: 1s;
}

body {
    overflow-x: hidden;
}

.titres-musées {
    margin: 0;
    background-color: rgb(1, 157, 219);
    padding: 1%;
}

.expos {
    margin-bottom: 2%;
}

.expos-mucem {
    width: 100%;
    display: flex;
    align-items: center;
}

.expos-mucem img {
    height: auto;
    width: 50%;
    margin: 1% 1%;
}

#bloc-image-mucem img {
    width: 100%;
    transition: 1s;

}

#histoire-du-monde {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
@media screen and (max-width:768px) {
    .expos-mucem,#histoire-du-monde{
        display: flex;
        flex-direction: column;
    }
}

.images-musées:hover {
    width: 105%;
}

#histoire-du-monde img:hover {
    width: 105%;
}
tbody td{
    text-align: center;
}
td,tr{
    width: 30%;
    background-color: rgba(194, 194, 209, 0.619);
}