@font-face {
    font-family: opensans;
    src: url(typo/atwriter.ttf) format(TrueType);
}

html,body {
    margin: 0; 
    background-color: rgb(235, 230, 230);
    font-family:opensans;
    color: rgb(2, 172, 224);
}


header {
    position: relative;

}



.menu { border: solid;
    list-style-type: none;
    text-align: center;
    display: flex;
    justify-content: center;
    
}

.menu li { 
    display: inline-block;
    
}

.menu a { 
    background-color:rgb(2, 172, 224) ;
    color:white ;
    display: block;
    text-decoration: none;
    font-size: large;
    justify-content: center; 
    margin-left: 50px;  
     
}

#taille-menu {
    width: 100px;
    height: 40px;
     

}
.menu a:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.submenu {
    display: none;
    position: absolute;
    list-style-type: none;
    margin-left: -50px;
    
}

.submenu li {
    display: block;
}

.submenu li a {
    padding: 10px;
    text-decoration: none;
    display: block;
}

.menu li:hover .submenu {
    display: block;
}

.effet {
    width: 100%; /* Fait en sorte que l'image occupe toute la largeur */
    height: auto; /* Pour conserver les proportions de l'image */
}

.overlay {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    z-index: 1; /* Place le logo au-dessus de l'image */
}

li .overlay1{ 
    display:flex ;
    justify-content: center;
    text-align: center;
    width: 100px;
    margin-left: 50px;
}
.overlay1 {
    position: absolute;
    top: 10%;
    left: 5%;
    transform: translate(-50%, -50%);
    width: 200px;
    z-index: 1; /* Place le logo au-dessus de l'image */   
}